.header-wrapper {
    background-color: #a8d5a5; /* Couleur de fond verte pastel */
    border-bottom: 2px solid #ccc;
    padding: 10px 20px;
  }

  .header {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center;
  }
  
  .carrote-icon {
    width: 40px;
    height: auto;
    margin-right: 15px; /* Espacement entre la carotte et les autres éléments */
  }

  .logo-container {
    flex-grow: 1; /* Permet au logo de se centrer */
    text-align: center;
  }
  
  .logo {
    width: 60px;
    height: auto;
  }

  .search-bar {
    width: 70%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .search-icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666;
    cursor: pointer;
  }

  .auth-button {
    background-color: #f4b183;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .auth-button:hover {
    background-color: #e59866;
  }
  