header {
    background-color: #41b474;
    display: flex; 
    align-items: center;
    padding: 10px; 
}

.carotte {
    align-items: left;
    width: 4em;
    height: 4em;

}

.Logo {
    align-items: center;
    width: 4em;
    height: 4em;

}


.Bt_Auth {
    background-color: #f4b183; 
    border: none; 
    padding: 5px 15px;
    border-radius: 5px; 
    cursor: pointer;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}