.header-wrapper {
    background-color: #a8d5a5; /* Couleur de fond verte pastel */
    border-bottom: 2px solid #ccc;
    padding: 10px 20px;
  }

  .header {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center;
  }
  
  .carrot-icon {
    width: 40px;
    height: auto;
    margin-right: 15px; /* Espacement entre la carotte et les autres éléments */
  }